

  /* .layout{
    height: 100vh;
    overflow-y: auto;
  } */




.react-player{
    margin-top:5%;
    padding: 0px;
    margin-bottom: 0%;
    background-repeat: no-repeat;
    
  }
  
  .group-email{
margin-bottom: 20px;
margin-top: 10px;
display: flex;
width: 60%;


  }

  

 