.selectedFilter{
	border-radius: 30px;
	border-color: black;
	border-style:solid;
	background-color: #48829A;
}
.contentHeight{
    min-height: 80vh;
}

@media(max-width: 1100px) {
    .contentHeight{
		min-height: 90vh;
        height: 100%;
    }
} 

