body{
    /* background-image: url(https://trello.com/1/cards/63e190557416cc1c3defa01b/attachments/63fa8b26977da609fd75c7a4/previews/63fa8b27977da609fd75c7b0/download/fondo.jpg); */
    background-image: url(../../Image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Navbar-text{
    color: black;
}