.adminHeight{
    min-height: 80vh;
}

@media(max-width: 520px) {
    .buttonPosition{
   display: flex;
    margin: auto;
    }
}

@media(max-width: 1100px) {
    .adminHeight{
		min-height: 90vh;
        height: 100%;
    }
} 