*{
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-sizing: border-box;

	color: white;
}

body{
    background-color: #EBFFF7;
}


.email-form-question{
    display: flex;
    justify-content: center;
    width: 300px;
	padding: 10px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	font-family: 'calibri';
	/* box-shadow: 7px 13px 37px #000; */
    margin-bottom: 10px;
}


.section{
    margin: auto;
    width: 75%;
    padding-top: 50px;
}


.quetion_form_top{
    border-top: 8px solid purple;
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;

}


.question_form_name{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #BDEFCC;
    color: black;

}

.question_form_desc{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #BDEFCC;
    color: black;
    height: 20px;
}

.question_form{
    padding: 10px;
    background-color: #BDEFCC;
    margin-top: 10px;
    margin-bottom: 90px;
}

.box-question{
    color: black;
}

#box{
    display: flex;
    text-align: center;
    justify-content: center;
}


#box-add{
    display: flex;
    text-align: center;
    justify-content: center;
    background: black; /* color de fondo */
  color: #fff; /* color de fuente */
  border: 2px solid #65B891; /* tamaño y color de borde */
    padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.but-send{
    display: flex;
    text-align: center;
    justify-content: center;
}

.but-sends{
    background: black;
}

#btn-add{
    background: black; /* color de fondo */
  color: #fff; /* color de fuente */
  border: 2px solid #65B891; /* tamaño y color de borde */
    padding: 2px 2px;
  border-radius: 3px; /* redondear bordes */
}

.aswers{
    color: black;
}

#send-p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 10px;
}
