



#register {
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.input-group {
	width: 100%;
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color: white;

}

.name{
	width: 100%;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    background-color: #1f53c5;
}

.form-register {
	padding: 30px;
	margin: auto;
}

.register-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
