
form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px 0;
	text-align: center;
}

.text-chatter-blue{
	text-decoration: underline;
	color: white;
}

.text-chatter-blue:hover {
    color: #93E5AB;
	
}

#register {
	width: 360px;
	background: #13232f;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.input-group {
	font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid ;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
    
}

.input-group:focus {
	outline: none;
}



.name{
	width: 100%;
    height: 50px;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 3px;
    color: #000;
}

.btn-register {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    background-color: #1f53c5;
	margin-top: 10px;
}

.btn-register:hover{
	background-color: #93E5AB;
	color: #000;
}


.form-register {
	background:#13232f;
    padding: 40px;
    max-width: 600px;
    
    border-radius: 10%;
    box-shadow: #93E5AB;
}

.register-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

#olvide-password{
	padding-top: 10px;
	color: white;

}

#olvide-password:hover{
	color: #93E5AB;
}