*{
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}

.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 15px;
	background-color: #083045;
	color: #fff;
}

#box-all{
	width: 50em;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 1rem

}




h1 a {
	text-decoration: none;
	color: #fff;
}

nav, .user {
	display: flex;
	align-items: center;
	gap: 20px;
} 

nav a {
	text-decoration: none;
	color: #fff;
}

.username {
	color: #fff;
}

.btn-logout {
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-logout:hover {
	background-color: #fff;
	color: #000;
}


